<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
    Navbar
</div>

<div class="container">
    <br><br>
    <h1 class="text-center text-white" th:text="#{index_welcome}">Welcome to Home Exchange!</h1>
    <br>
    <h2 class="text-center text-white" th:text="#{index_text}">Swap your home and travel more for less</h2>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>